<% if current_user %>
<div class="span8">
<div id="createRibbit" class="panel left">
    <h1>Bling Here</h1>
    <p>
    <%= form_for @ribbit do |f| %>
        <%= f.text_area :content, class: 'ribbitText' %>
        <div class="actions"><%= f.submit "Bling!", class: "btn btn-large btn-primary" %></div>
    <% end %>
    </p>
</div>
</div>
<% end %>

<div class="panel right">
    <h1>Buddies' Status</h1>
    <% @ribbits.each do |ribbit| %>
        <div class="ribbitWrapper">
            <a href="<%= user_path ribbit.user %>">
            <img class="avatar" src="<%= ribbit.user.avatar_hash %>">
            <span class="name"><%= ribbit.user.name %></span> 
            </a>
            @<%= ribbit.user.username %> 
            <span class="time"><%= time_ago_in_words(ribbit.created_at) %></span>
            <p> <%= ribbit.content %> </p>
        </div>
    <% end %>
</div>

